@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="ResultBirth" method="get">
    <input type="text" name="name" />
    <input type="date" name="date" />
    <button type="submit">Oblicz</button>
</form>
