@model Employees
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Dodaj nowego pracownika</h1>
<form asp-controller="Employees" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Surname"></label>
        <input class="form-control" asp-for="Surname" />
        <span class="text-danger" asp-validation-for="Surname"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Pesel"></label>
        <input class="form-control" asp-for="Pesel" />
        <span class="text-danger" asp-validation-for="Pesel"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Stanowisko"></label>
        <input class="form-control" asp-for="Stanowisko" />
        <span class="text-danger" asp-validation-for="Stanowisko"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Department"></label>
        <select asp-for="Department" class="form-control" asp-items="@Html.GetEnumSelectList<Department>()"></select>

    </div>
    <div class="mb-3">
        <label asp-for="Hire"></label>
        <input class="form-control" asp-for="Hire" />
        <span class="text-danger" asp-validation-for="Hire"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Fire"></label>
        <input class="form-control" asp-for="Fire" />
        <span class="text-danger" asp-validation-for="Fire"></span>
    </div>

    @* <div class="mb-3">
        <label asp-for="Priority"></label>
        <select class="form-control" asp-for="Priority" asp-items="@Html.GetEnumSelectList<Priority>()"></select>
        <span class="text-danger" asp-validation-for="Priority"></span>
    </div> *@
    

    <select asp-for="OrganizationID" asp-items="@Model.OrganizationsList"></select>

    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Utwórz</button>
    </div>


</form>

    <style>
        body{
            color: white;
        }

    .form-control {
        background-color: darkgrey;
    }

        .form-control:focus {
            background-color: darkgrey;
        }

    select {
        color: white;
        background-color: darkgrey;
    }
    </style>