@model List<Employees>

<h1>Recently Deleted Employees</h1>

<table class="table">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Where(e => e.IsDeleted))
        {
            <tr>
                <td>@employee.Name</td>
                <td>@employee.Surname</td>
                <td>
                    <a class="btn btn-outline-success" asp-action="Restore" asp-route-id="@employee.ID">Przywróć</a>
                </td>
            </tr>
        }
    </tbody>
</table>
