@{
    ViewData["Title"] = "Home Page";
}
<div id="logo">
    <p>EmployeePro</p>
    <h4>Last visit: @ViewBag.LastVisit</h4>
</div>
<div id="buttonE">
    <a class="button-51" role="button" href="/Employees/PagedIndex" >EmployeePro</a>
</div>

@* <div class="text-center">
    <h1 class="display-4">Hello</h1>
    < h4>Jeżeli chcesz przejść do panelu administracyjnego Employees, wybierz zakładkę na pasku nawigacji</h4>
    <h4>Lub wybierz przycisk poniżej</h4> 
    <br />
</div> *@

<style>
.button-51 {
  background-color: transparent;
  border: 1px solid black;
  box-sizing: border-box;
  color: black;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
    background-color: lightgrey;
}


.text-center{
    color: black;
    margin-top: 150px;
}

#logo{
    color:white;
    font-size: 100px;
    margin-top: 80px;
}

    #buttonE{
        margin-top:60px;
    }

</style>